# ???????
/shelf/
/workspace.xml
# Rider ?????
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.DotNetBuilder.iml
/modules.xml
# ???????????????
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# ?????? HTTP ?????
/httpRequests/
